

.container{
    margin-top: 15px;
}
.col{
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    justify-content: center;
}
.col-4,.col-2{
    border: 0.2px solid;
    border-color: rgb(0, 0, 0);
    justify-content: center;
}
.size{
    height: 4em;
    border: 0.2px solid;
    border-color: rgb(0, 0, 0);
}

.size1{
    height: 65.7px;
}
.border1{
    border: 0.3px solid;
    border-color: rgb(0, 0, 0);
}

